@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

HTML{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu',sans-serif;
    box-sizing: border-box;
    /* background-color: #4c4177;
    background-image: linear-gradient(315deg,#4c4177 0%,#2a5470 74%); */
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b30f8f;
    background-image: linear-gradient(210deg,rgb(148,242,89) 5%, rgb(57,170,233) 30%, rgb(171,161,221) 120%,rgb(31,174,188) 60%);
    height: 10vh;
    width: 100%;
    text-decoration: none;
    position: fixed;
    z-index: 5;
    border-radius: 5px;
}


header nav ul li{
    list-style: none;
    text-decoration: none;
    padding: 0px 30px;
    /* background-color: yellow; */
}

header nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 23px 50px;
    margin: 10px;
   /* background: #333; */
    border-radius: 10px;
    font-size: 18px;
    box-shadow: inset 0 0 0 0 rgb(148,242,89);
    transition: ease-in-out 0.5s;
    outline: none;
}

header nav ul li a:hover{
    box-shadow: inset 0 100px 100px 200px rgb(148,242,89);
    cursor: pointer;
    color: black;
}

#home{
    min-height: 100vh;
    color: white;
    padding: 20px 50px;
}

.headings{
    font-size: 25px;
    /* background-color: yellow; */
}

#home.about{
    font-size: 19px;
   /* background-color: yellow; */
    position: relative;
    top: 5vh;
    display: inline-block;
}

#background{
    min-height: 100vh;
    color: white;
    padding: 0px 50px;
}

#background.backgroundinfo{
    font-size: 19px;
    position: relative;
    top: 8vh;
    display: inline-block;
}

#background.backgroundinfo ul{
    padding: 50px;
}

#background.backgroundinfo ul li{
    padding: 10px;
}

#achievements{
    min-height: 100vh;
    color: white;
    padding: 20px 50px;
}

#awards{
    min-height: 100vh;
    color: white;
    padding: 20px 50px;
}

#awards.awardinfo ul{
    padding: 50px;
}

#awards.awardinfo ul li{
    padding: 10px;
}

#footer {
	width: 100%;
	bottom: 0%;
	left: 0%;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 1%;
	background-color: #020202;
	opacity: 0.7;
}	
